* {
  box-sizing: border-box;
}
div i {
  font-size: 3rem;
}
ul i {
  font-size: 1.5rem;
}

.carousel-item {
  background-color: blue;
  max-height: 60vh;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px black;
}
li {
  padding: 1rem;
}

/*         FORM
================================ */

.form {
  background-color: rgb(31, 210, 207);
  width: 90%;
  max-width: 600px;
  margin: auto;
  border-radius: 1em;
  padding: 3.5em 1.5em;
}

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
}

.form__input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8em 1em;
}

.form__cta {
  font-family: inherit;
  background-color: #089fe0;
  color: white;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 0.2em;
  cursor: pointer;
  font-weight: 400;
}

.form__back {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  min-height: 77vh;
  display: flex;
}

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
}
